<div class="row">
<div class="col-lg-8">
<div class="container" style="width: 100%;border: 1px solid black" [@historyAnimation]="AllUers.length" *ngFor="let currUser of AllUers |historyFilter:filterInput:searchStr">
  <table class="table">
    <tbody>
      <tr>
        <th scope="row">id</th>
        <td><a href="{{currUser.id}}">{{currUser.id}}</a></td>
      </tr>
      <tr>
        <th scope="row">url</th>
        <td><a href="{{currUser.url}}">{{currUser.url}}</a></td>
      </tr>
      <tr>
        <th scope="row">login</th>
        <td><a href="{{currUser.login}}">{{currUser.login}}</a></td>
      </tr>
      <tr>
        <th scope="row">score</th>
        <td><a href="{{currUser.scope}}">{{currUser.score}}</a></td>
      </tr>
      <tr>
        <th scope="row">html_url</th>
        <td><a href="{{currUser.html_url}}">{{currUser.html_url}}</a></td>
      </tr>
      <tr>
        <th scope="row">followers_url</th>
        <td><a href="{{currUser.followers_url}}">{{currUser.followers_url}}</a></td>
      </tr>
      <tr>
        <th scope="row">following_url</th>
        <td><a href="{{currUser.following_url}}">{{currUser.following_url}}</a></td>
      </tr>
      <tr>
        <th scope="row">subscriptions_url</th>
        <td><a href="{{currUser.subscriptions_url}}">{{currUser.subscriptions_url}}</a></td>
      </tr>
      <tr>
        <th scope="row">organizations_url</th>
        <td><a href="{{currUser.organizations_url}}">{{currUser.organizations_url}}</a></td>
      </tr>
      <tr>
        <th scope="row">repos_url</th>
        <td><a href="{{currUser.repos_url}}">{{currUser.repos_url}}</a></td>
      </tr>
      <tr>
        <th scope="row">received_events_url</th>
        <td><a href="{{currUser.received_events_url}}">{{currUser.received_events_url}}</a></td>
      </tr>
      <tr>
        <th scope="row">blog</th>
        <td><a href="{{currUser.blog}}">{{currUser.blog}}</a></td>
      </tr>
      <tr>
        <th scope="row">location</th>
        <td><button type="button" class="btn btn-warning" (click)="checkCurrentPositionWeather(currUser.location)">{{currUser.location}}</button></td>
      </tr>
      <tr>
        <th scope="row">email</th>
        <td><a href="{{currUser.email}}">{{currUser.email}}</a></td>
      </tr>
      <tr>
        <th scope="row">public_repos</th>
        <td><a href="{{currUser.public_repos}}">{{currUser.public_repos}}</a></td>
      </tr>
      <tr>
        <th scope="row">public_gists</th>
        <td><a href="{{currUser.public_gists}}">{{currUser.public_gists}}</a></td>
      </tr>
      <tr>
        <th scope="row">followers</th>
        <td><a href="{{currUser.followers}}">{{currUser.followers}}</a></td>
      </tr>
      <tr>
        <th scope="row">following</th>
        <td><a href="{{currUser.following}}">{{currUser.following}}</a></td>
      </tr>
      <tr>
        <th scope="row">created_at</th>
        <td><a href="{{currUser.created_at}}">{{currUser.created_at}}</a></td>
      </tr>
      <tr>
        <th scope="row">updated_at</th>
        <td><a href="{{currUser.updated_at}}">{{currUser.updated_at}}</a></td>
      </tr>
      <tr>
        <th scope="row">Tags:</th>
        <span *ngFor="let tag of currUser.tags" class="tagBtn">
            <a class="badge badge-primary" href="/home/users/tag/{{tag}}">{{tag}}</a>  
        </span>
      </tr>
    </tbody>
    <hr />
    <button type="button" class="btn btn-link" (click)="removeUser(currUser.id)">more</button>
  </table>
  <hr />
</div>
</div>

<div class="col-lg-3" [@historyAnimation_2]>
  <div class="container" style="border: 1px solid blue" id="searchContainer">
    <h3>Search:</h3>
    <hr />
      <div class="form-group">
        <label  class="col-sm-2 col-form-label">Attribute:</label>
        <ng2-completer style="size: 15px;" class="form-control" #autoComplete [(ngModel)]="searchStr" [datasource]="attributesArray" [minSearchLength]="0">
        </ng2-completer>
        <button type="button" class="btn btn-info" (click)="enter()">Enter</button>
        <hr />
        <label for="inputPassword" class="col-sm-2 col-form-label">Keyword:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputPassword" [(ngModel)]="filterInput">{{filterInput}}
        </div>
      </div>
      <hr />
      <button type="button" class="btn btn-success" (click)="search()">Search</button>
      <hr />
  </div>
</div>

</div>
